[submodule ".vim/bundle/L9"]
	path = .vim/bundle/L9
	url = https://github.com/vim-scripts/L9
[submodule ".vim/bundle/autocomplpop"]
	path = .vim/bundle/autocomplpop
	url = https://github.com/othree/vim-autocomplpop
[submodule ".vim/bundle/coffeescript"]
	path = .vim/bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/bundle/vim-indexed-search"]
	path = .vim/bundle/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/.vim/bundle/L9"]
	path = .vim/.vim/bundle/L9
	url = https://github.com/vim-scripts/L9
